<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row product_show" data-product-id="<%= @product.id %>">

    <div class="col-md-4 col-xs-12 product_show_img">
      <%= image_tag(@product.image_url, width:"400px", data_zoom_image: image_path("large/" + @product.image_url), class: "thumbnail image-zoom image-responsive") %>
    </div>

      <div class="caption col-md-8 col-xs-12 product_show_description">
        <% cache @product do %>
          <p>
            <strong>Name:</strong>
            <%= @product.name %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @product.description %>
          </p>
        <% end %>
        <p>
          <strong>Colour:</strong>
          <%= @product.colour %>
        </p>

        <p>
          <strong>Price in €:</strong>
          <%= @product.price.to_d %>
        </p>
        <div class="product_show-button">
          <% if user_signed_in? %>
              <%= form_tag "/payments/create" do %>
                <%= render partial: "shared/stripe_checkout_button" %>
                <%= hidden_field_tag(:product_id, @product.id) %>
              <% end %>
          <% end %>
        </div>
        <p>Average Rating: <span id="average_rating" class="rated stars" data-score="<%= @product.average_rating %>"></span> </p>
      </div>

      <div class="product_show_reviews">
        <h6>
          Views:
          <span class="badge">
            <%= @product.views %>
          </span>
        </h6>

        <% if signed_in? %>
            <h4>Add a review:</h4>
            <%= form_for([@product, @product.comments.build]) do |f| %>
                <p>
                  <%= f.text_area :body %>
                </p>

                <p>
                  <%= f.submit "Submit" %>
                </p>
            <% end %>
        <% end %>
        <h4>Reviews:</h4>
      </div>

      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render 'comments' %>
      </div>


  </div>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div>